@font-face {
    font-family: geist;
    src: url(/public/font/Geist);
}

body {
    font-family: geist, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #030712;
    color: white;
}

@media only screen and (min-width: 600px) {
    body {
        max-width: 50vw;
        margin: auto;
    }
}

.form-label {
    display: flex;
    justify-content: space-between;
}

input[type="number"] {
    height: 2vh;

    color: white;

    background-color: black;
    border-color: gray;

    text-align: end;
}

input[type="submit"] {
    height: 3vh;

    color: white;

    background-color: #d946ef;
    border: 0;
    border-radius: 1vh;
}

input[type="submit"]:hover {
    background-color: #f0abfc;
}

.submit-button {
    display: flex;
    flex-direction: row-reverse;
}

a {
    color: #ec4899;
}

footer {
    padding-top: 5vh;
}